@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
  --color-white: #fff;
  --color-black: #000;
  --dark-grey: hsl(0, 0%, 55%);
  --very-dark-grey: hsl(0, 0%, 41%);
  font-size: 15px;
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-alata: 'Alata', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.hero {
  width: 100%;
  height: 90vh;
  background: url('images/mobile/image-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.nav {
  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.nav-list{
  display: none;
}
nav a img {
  width: 140px;
  margin-left: -30px;
}

.active{ 
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility:visible;
  background:black;
  color:white;
}
.nav-list-links{
  list-style: none;
  position: absolute;
  top:250px;
  left:10%;
}
.nav-list-links li{
  margin-top: 30px;
}
.nav-list-links a{
  text-decoration: none;
  color:white;
  font-size:1.5rem;
  text-transform: uppercase;
  font-family: var(--font-josefin);
}
#close-img{
  position: absolute;
  right:15%;
  top:10%;
}
#logo-hidden{
  position: absolute;
  left:15%;
  top:10%;
}

.hamburger {
  cursor: pointer;
}

.title {
  width: 100%;
  height: 95%;
  font-family: var(--font-josefin);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title h1 {
  width: 80%;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-white);
  margin: 2rem;
  padding: 2rem 2rem;
}

.section-leader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -30px;
  margin-left: 0.5rem;
}
.section-leader img {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.section-leader h3 {
  width: 90%;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-josefin);
  color: var(--color-black);
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}
.section-leader p {
  width: 80%;
  font-size: 0.9rem;
  font-family: var(--font-alata);
  color: var(--dark-grey);
  letter-spacing: 1px;
  line-height: 1.8;
  margin-left: 2rem;
}
.section-creations {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -20px;
}
.section-creations h1 {
  width: 90%;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: 400;
  font-family: var(--font-josefin);
  text-align: center;
  margin-bottom: 3rem;
}
.section-creations .images {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 0 0 3rem;
}
.images #a h3,
#b h3,
#c h3,
#d h3,
#e h3,
#f h3,
#g h3,
#h h3 {
  position: relative;
  left: 1rem;
  top: 60%;
  left: 5%;
  font-size: 1.5rem;
}
#a {
  width: 100%;
  background: url('images/mobile/image-deep-earth.jpg');
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}
#b {
  width: 100%;
  background: url('images/mobile/image-night-arcade.jpg');
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}
#c {
  width: 100%;
  background: url('images/mobile/image-soccer-team.jpg');
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}
#d {
  width: 100%;
  background: url('images/mobile/image-grid.jpg');
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}
#e {
  width: 100%;
  background: url('images/mobile/image-from-above.jpg');
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}
#f {
  width: 100%;
  height: 100%;
  background: url('images/mobile/image-pocket-borealis.jpg');
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}
#g {
  width: 100%;

  background: url('images/mobile/image-curiosity.jpg');
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}
#h {
  width: 100%;
  background: url('images/mobile/image-fisheye.jpg');
  background-size: cover;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}
.section-creations div h3 {
  font-size: 1.5rem;
  font-weight: 300;
  width: 35%;
  position: absolute;
  color: var(--color-white);
  font-family: var(--font-josefin);
  text-transform: uppercase;
  padding-left: 1rem;
  text-align: left;
}

.section-creations a {
  text-decoration: none;
  font-family: var(--font-alata);
  letter-spacing: 4px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  padding: 0.8rem 1.8rem;
  margin-top: 1rem;
  font-weight: 300;
  margin-bottom: 7rem;
}

.section-links {
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.section-links img {
  width: 150px;
  margin: 4rem 0 1rem 0;
}
.section-links ul li {
  list-style: none;
  margin: 1.5rem;
}
.section-links ul li a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-josefin);
  font-weight: 700;
}

.section-links .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: -20px;
}
.section-links .social-media img {
  width: 25px;
  padding: 0 0.8rem;
}
.section-links p {
  font-family: var(--font-josefin);
  margin-bottom: 3rem;
  letter-spacing: 1px;
  color: var(--dark-grey);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
  .nav {
    justify-content: space-between;
    display: flex;
    
  }
  #close-img{
    display:none;
  }
  #logo-hidden{
    display:none;
  }
  .nav-list-links{
    display: none;
  }
  .nav img {
    width: 200px;
    margin-left: 120px;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    margin-right: 100px;
  }
  .nav ul li {
    list-style: none;
    padding: 0 1rem;
  }
  .nav ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.3rem;
  }
  .hamburger {
    display: none;
  }
  .title {
    justify-content: start;
    margin-left: 5rem;
  }
  .title h1 {
    width: 40%;
    margin-left: 3rem;
    font-size: 5rem;
  }
  .hero {
    background: url('images/desktop/image-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    margin-bottom: 10rem;
  }
  .section-leader {
    width: 80%;
    height: 75vh;
    position: relative;
    flex-direction: row;
  }
  .section-leader img {
    width: 75%;
    position: absolute;
    top: 0;
    left: 10%;
  }
  .section-leader .text {
    width: 40%;
    height: 55%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
    position: absolute;
    right: -20%;
    top: 30%;
    padding: 1rem 1rem 1rem 6rem;
    text-align: left;
  }
  .section-leader h3 {
    height: 100px;
    font-size: 2.8rem;
    margin: 4rem 0 0 0;
  }
  .section-leader p {
    width: 80%;
    margin-top: 30px;
    font-size: 1rem;
  }
  .section-creations {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    margin: 8rem 0 8rem 2rem;
  }
  .section-creations h1 {
    font-size: 2.8rem;
    text-align: left;
    position: absolute;
    top: -6rem;
    left: 8rem;
  }
  .section-creations a {
    position: absolute;
    top: -110px;
    right: 0;
  }
  .section-creations .images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    column-gap: 15px;
    position: relative;
    top: 22%;
    left: 5%;
    grid-template-rows: 600px 600px;
  }

  .images #a h3,
  #b h3,
  #c h3,
  #d h3,
  #e h3,
  #f h3,
  #g h3,
  #h h3 {
    width: 50%;
    position: relative;
    left: 1rem;
    top: 80%;
    left: 10%;
    font-size: 2rem;
  }
  #a {
    width: 100%;
    height: 100%;
    background: url('images/desktop/image-deep-earth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  #b {
    width: 100%;
    height: 100%;
    background: url('images/desktop/image-night-arcade.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  #c {
    width: 100%;
    height: 100%;
    background: url('images/desktop/image-soccer-team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  #d {
    width: 100%;
    height: 100%;
    background: url('images/desktop/image-grid.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  #e {
    width: 100%;
    height: 100%;
    background: url('images/desktop/image-from-above.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  #f {
    width: 100%;
    height: 100%;
    background: url('images/desktop/image-pocket-borealis.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  #g {
    width: 100%;
    height: 100%;
    background: url('images/desktop/image-curiosity.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  #h {
    width: 100%;
    height: 100%;
    background: url('images/desktop/image-fisheye.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  .section-links {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .links a img {
    margin: 0 0 0 8rem;
    padding: 0;
  }
  .links ul {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 6.5rem;
  }
  .links ul li a {
    margin: 0;
    padding: 0;
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 0 8rem 0 0;
  }
}
